<div class="container">
  <div class="jumbotron">
    <h1>activityOverlord</h1>

    <h2>a projet for face recognition</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>

